APP_NAME=TTC WorkClock Admin
APP_ENV=production
APP_SECRET_KEY=change-me
APP_ACCESS_TOKEN_EXPIRE_MINUTES=720
APP_TIMEZONE=Asia/Ho_Chi_Minh
API_V1_PREFIX=/api/v1
BACKEND_CORS_ORIGINS=["http://localhost","http://127.0.0.1"]
DATABASE_URL=postgresql+psycopg://workclock:workclock@localhost:5432/workclock
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=ttcdh@123
ELASTICSEARCH_INDEX_PATTERN=hikvision-*
ELASTICSEARCH_VERIFY_CERTS=false
ELASTICSEARCH_REQUEST_TIMEOUT=30
ES_FIELD_TIMESTAMP=@timestamp
ES_FIELD_EVENT_TIME=hikvision.dateTime
ES_FIELD_USER_ID=hikvision.AccessControllerEvent.employeeNoString
ES_FIELD_USER_NAME=hikvision.AccessControllerEvent.name
ES_FIELD_DEVICE_NAME=hikvision.AccessControllerEvent.deviceName
ES_FIELD_DEVICE_ID=hikvision.deviceID
SMTP_HOST=localhost
SMTP_PORT=25
SMTP_USERNAME=info@ttcdanghuynh.vn
SMTP_PASSWORD=info@123
SMTP_FROM=info@ttcdanghuynh.vn
VIBER_BASE_URL=http://127.0.0.1:8080
VIBER_SEND_ENDPOINT=/viber/send
VIBER_TOKEN=
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=Admin@123
DEFAULT_ADMIN_EMAIL=info@ttcdanghuynh.vn
